<WebResourceDeployer>
  <Connections>
    <Connection>
      <Name>Dev2</Name>
      <OrgId>a42b9aaf-59dd-4d63-8bf9-7a725634ec02</OrgId>
      <ConnectionString>VXJsPWh0dHBzOi8vZGV2MmRyaXZlcnRyYWluaW5nLmNybTQuZHluYW1pY3MuY29tO1VzZXJuYW1lPWVzb3MuZGV2QHBlcnRlbXBzNjcwLm9ubWljcm9zb2Z0LmNvbTtQYXNzd29yZD0nQm9wcGFuYTE3NCYmJzs=</ConnectionString>
      <Version>8.1.0.452</Version>
    </Connection>
    <Connection>
      <Name>GoLive</Name>
      <OrgId>8e4c1e44-2f59-4541-b856-fad17fd54781</OrgId>
      <ConnectionString>VXJsPWh0dHBzOi8vcGVydGVtcHNkcml2ZXJ0cmFpbmluZy5jcm00LmR5bmFtaWNzLmNvbTtVc2VybmFtZT1lc29zLmRldkBwZXJ0ZW1wczY3MC5vbm1pY3Jvc29mdC5jb207UGFzc3dvcmQ9J0JvcHBhbmExNzQmJic7</ConnectionString>
      <Version>8.1.0.452</Version>
    </Connection>
  </Connections>
  <Files>
    <File>
      <OrgId>a42b9aaf-59dd-4d63-8bf9-7a725634ec02</OrgId>
      <Path>/scripts/CSS/DTStyle.css</Path>
      <WebResourceId>8155671d-5406-e611-80e6-d89d6764365c</WebResourceId>
      <WebResourceName>pdt_/CSS/DTStyle.css</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>a42b9aaf-59dd-4d63-8bf9-7a725634ec02</OrgId>
      <Path>/scripts/Form/AccountScript.js</Path>
      <WebResourceId>c3bdc43f-8beb-e511-80e1-d89d6764365c</WebResourceId>
      <WebResourceName>pdt_/Form/AccountScript.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>a42b9aaf-59dd-4d63-8bf9-7a725634ec02</OrgId>
      <Path>/scripts/Form/ContactsScript.js</Path>
      <WebResourceId>c5bdc43f-8beb-e511-80e1-d89d6764365c</WebResourceId>
      <WebResourceName>pdt_/Form/ContactsScript.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>a42b9aaf-59dd-4d63-8bf9-7a725634ec02</OrgId>
      <Path>/scripts/Form/DelegateFeedbackScript.js</Path>
      <WebResourceId>c9bdc43f-8beb-e511-80e1-d89d6764365c</WebResourceId>
      <WebResourceName>pdt_/Form/DelegateFeedbackScript.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>a42b9aaf-59dd-4d63-8bf9-7a725634ec02</OrgId>
      <Path>/scripts/Form/DTUtility.js</Path>
      <WebResourceId>c7bdc43f-8beb-e511-80e1-d89d6764365c</WebResourceId>
      <WebResourceName>pdt_/Form/DTUtility.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>a42b9aaf-59dd-4d63-8bf9-7a725634ec02</OrgId>
      <Path>/scripts/Form/InvoiceScript.js</Path>
      <WebResourceId>cbbdc43f-8beb-e511-80e1-d89d6764365c</WebResourceId>
      <WebResourceName>pdt_/Form/InvoiceScript.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>a42b9aaf-59dd-4d63-8bf9-7a725634ec02</OrgId>
      <Path>/scripts/Form/TrainerCalenderScript.js</Path>
      <WebResourceId>cdbdc43f-8beb-e511-80e1-d89d6764365c</WebResourceId>
      <WebResourceName>pdt_/Form/TrainerCalenderScript.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>a42b9aaf-59dd-4d63-8bf9-7a725634ec02</OrgId>
      <Path>/scripts/Form/TrainerQualification.js</Path>
      <WebResourceId>a607cd7a-39f3-e511-80e5-d89d67634e48</WebResourceId>
      <WebResourceName>pdt_/Form/TrainerQualification.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>a42b9aaf-59dd-4d63-8bf9-7a725634ec02</OrgId>
      <Path>/scripts/Form/TrainingRequestScript.js</Path>
      <WebResourceId>cfbdc43f-8beb-e511-80e1-d89d6764365c</WebResourceId>
      <WebResourceName>pdt_/Form/TrainingRequestScript.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>a42b9aaf-59dd-4d63-8bf9-7a725634ec02</OrgId>
      <Path>/scripts/HTML/BookingHistory.html</Path>
      <WebResourceId>b66151f5-9a84-e611-80e8-5065f38b4671</WebResourceId>
      <WebResourceName>pdt_/HTML/BookingHistory.html</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>a42b9aaf-59dd-4d63-8bf9-7a725634ec02</OrgId>
      <Path>/scripts/HTML/DeliverableCourses.html</Path>
      <WebResourceId>a600c080-3706-e611-80e6-d89d67639d08</WebResourceId>
      <WebResourceName>pdt_/HTML/DeliverableCourses.html</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>a42b9aaf-59dd-4d63-8bf9-7a725634ec02</OrgId>
      <Path>/scripts/HTML/RadiusMap.html</Path>
      <WebResourceId>982b18b6-8beb-e511-80dc-d89d67641068</WebResourceId>
      <WebResourceName>pdt_/HTML/RadiusMap.html</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>a42b9aaf-59dd-4d63-8bf9-7a725634ec02</OrgId>
      <Path>/scripts/Ribbon/RibbonScript.js</Path>
      <WebResourceId>9c2b18b6-8beb-e511-80dc-d89d67641068</WebResourceId>
      <WebResourceName>pdt_/Ribbon/RibbonScript.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>a42b9aaf-59dd-4d63-8bf9-7a725634ec02</OrgId>
      <Path>/scripts/Toolkit/jquery.js</Path>
      <WebResourceId>60b13482-9aeb-e511-80e1-d89d6764365c</WebResourceId>
      <WebResourceName>pdt_/Toolkit/jquery.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>a42b9aaf-59dd-4d63-8bf9-7a725634ec02</OrgId>
      <Path>/scripts/Toolkit/XrmServiceToolkit.js</Path>
      <WebResourceId>5cb13482-9aeb-e511-80e1-d89d6764365c</WebResourceId>
      <WebResourceName>pdt_/Toolkit/XrmServiceToolkit.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>a42b9aaf-59dd-4d63-8bf9-7a725634ec02</OrgId>
      <Path>/scripts/Toolkit/json2.js</Path>
      <WebResourceId>62b13482-9aeb-e511-80e1-d89d6764365c</WebResourceId>
      <WebResourceName>pdt_/Toolkit/json2.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>a42b9aaf-59dd-4d63-8bf9-7a725634ec02</OrgId>
      <Path>/scripts/Toolkit/XrmServiceToolkit.min.js</Path>
      <WebResourceId>abc92918-3aec-e511-80e0-d89d67634e48</WebResourceId>
      <WebResourceName>pdt_/Toolkit/XrmServiceToolkit.min.js</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
    <File>
      <OrgId>a42b9aaf-59dd-4d63-8bf9-7a725634ec02</OrgId>
      <Path>/scripts/ChartMap/pdt_chartMapConfig.xml</Path>
      <WebResourceId>b400f9bc-df9c-e511-80ff-3863bb35ddf0</WebResourceId>
      <WebResourceName>pdt_chartMapConfig</WebResourceName>
      <IsManaged>False</IsManaged>
    </File>
  </Files>
</WebResourceDeployer>